*{
    font-family: "Prompt", sans-serif;
    margin: 0px;
    box-sizing:border-box ;
    padding: 0;
    text-decoration: none; 
}

.prompt-regular {
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
   body{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color: #0C0F14;
    }
  
/* mobile */
@media screen and (max-width: 768px){
 
 
    body {
        background-color: #0C0F14;
        font-size: 16px;
        margin: 0;
    }
   
    .container{  
        border-radius: 1.2em;
        margin: 2rem;
        padding: 2rem;
        height: 35rem;
        color: black;
        width: 20rem;
        text-align: center;
        background-color: #252A32;
         color: white;  
        backdrop-filter: blur(10px);
    }

    h2{
       color: #E58E27;
        text-align: center;  
        font-size: 2rem;
        margin-bottom: 1rem;
        
    }
 
    .inputbox{
        border:0px;
        border-radius: 0.4rem;
        width: 17rem;
        height: 2.5rem;
        font-size: 1.3rem;
        text-align: center;
        background-color: #aeaeae;
      backdrop-filter: blur(10px);
      color: #252A32;
     
     }
     .loginbut{
        text-align: center;
        border:0px;
        border-radius: 0.4rem;
        width: 17rem;
        height: 3rem;
        font-size:1rem;
        font-weight: bold;
        background-color: #E58E27;
        color: white;
        box-shadow: 1px 1px 1px 1px rgba(107, 107, 107, 0.5);
     }
     .loginbut:hover{
        opacity: 0.75;
       
     }
     
     form{
        
        font-size: 1rem;
     }
    
     a{
        text-align: center;
        font-weight: bold;
        color: #E58E27;
        font-size: 1rem;
     }
    form p {
       text-align: left;
       margin-left: 1rem;
    }
    
     img{
        
        width: 70px;
     }
}
/* desktop */
@media screen and (min-width: 768px) {
   body {
      background-color: #0C0F14;
      font-size: 16px;
      margin: 0;
  }
 
  .container{  
      border-radius: 1.2em;
      margin: 2rem;
      padding: 2rem;
      height: 40rem;
      color: black;
      width: 27rem;
      text-align: center;
      background-color: #252A32;
       color: white;  
      backdrop-filter: blur(10px);
  }

  h2{
     color: #E58E27;
      text-align: center;  
      font-size: 2rem;
      margin-bottom: 1rem;
      
  }

  .inputbox{
      border:0px;
      border-radius: 0.4rem;
      width: 17rem;
      height: 2.5rem;
      font-size: 1.3rem;
      text-align: center;
      background-color: #aeaeae;
       backdrop-filter: blur(10px);
      color: #252A32;
   
   }
     .loginbut{
        border:0px;
        border-radius: 0.4rem;
        width: 17rem;
        height: 3rem;
        font-size: 1.5rem;
        font-weight: bold;
        background-color: #E58E27;
        color: white;
        
     }
     .loginbut:hover{
        opacity: 0.75;
       
     }
     
     form{
        
        font-size: 1.5rem;
     }
    
     a{
        font-weight: bold;
        color: #E58E27;
        font-size: 1.5rem;
     }
    form p {
       text-align: left;
       margin-left: 3rem;
    }
    
     img{
      
        width: 100px;
     }
}