*{
    font-family: 'Noto Sans Thai', sans-serif;
    font-family: 'Prompt', sans-serif;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   
    background-color: #d9d9d9;
    
    align-items: center; /* จัดให้เนื้อหาอยู่ตรงกลางแนวตั้ง */
    height: 100vh; /* ส่วนสูงของ body จะเต็มเต็มหน้าจอ */
    margin: 0; /* ลบ margin ทั้งหมดที่อาจถูกกำหนดไว้ */
    
}


*a{
    color:rgb(10, 4, 4);
}
.sidebar{
   
    width: 80px;
    background-color: #2A3033;
    min-height: 100vh;
    transition: .3s;
    overflow: hidden;
}
.sidebar:hover{
    width: 200px;

}
.sidebar:hover ul li a span{
    opacity: 1;
    visibility: 1;
}

ul li a {
    display: flex;
    align-items: center;
    padding: 25px 0 25px 20px;

}
ul li a:hover{
    background-color: white;
}
ul li a li {
    width: 35px;
}
ul li a span{
    font-size: 16px;
    font-weight: bold;
    color: #E58E27;
    margin-left: 10px;
    opacity: 0;
    visibility:0; 
    transition: 0.3s ease-in;
}
.sidebar img{
    width: 40px;
    border-radius: 50%
}
ul li a i{
    font-size: 25px;
    color: #E58E27;
}.account-info {
    display: inline;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    padding: 10px;
    width: 200px;
    height: 50px;
  }
  
  .profile-pic {
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }
  
  .profile-pic img {
    width: 100%;
    height: 100%;
  }
  
  
  .username {
    font-size: 14px;
    font-weight: bold;

  }
  
  .port-number, .status {
    font-size: 14px;
  }
  
  .status {
    font-size: 12px;
    color: #4caf50;
  }
  .logoutbut {
    float: right;
    margin: 0;
    font-size: 20px;

    
  }
  .logoutbut i {
  color:#161A1E;
    
  }
  




.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    background-color: #191919;
    height: 100vh;
    transition: width 0.3s;
    overflow: hidden;
}

.sidebar:hover {
    width: 200px;
}

.sidebar:hover ul li a span {
    opacity: 1;
    visibility: visible;
}
.tablecontent {
    border-collapse: collapse;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  
   
}

.tablecontent th, .tablecontent td {
    text-align: center; 
    width: 140px;
    
   
}

.tablecontent tr {
    background-color: #585358;
      
    border-radius: 5px;
}
.tablecontent th{
    background-color:#E58E27;
   
    
   
}
.tablecontent td{
    color: white;
    font-size: 13px;
   
   
}

.allowbut{
    background-color: #E58E27;
    border-radius:5px ;
    font-size: 13px;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.FFF{
    display: flex;
    float:left;
}

h2 {
    margin-top: 20px;
    grid-column: 1 / -1; /* ตั้งแต่ column แรกจนถึง column สุดท้ายใน grid */
    text-align: center; /* จัดให้เนื้อหาอยู่ตรงกลางแนวนอน */
}
.container {
    justify-content: center; /* จัดให้เนื้อหาอยู่ตรงกลางแนวนอน */
    align-items: center; /* จัดให้เนื้อหาอยู่ตรงกลางแนวตั้ง */
    height: 100vh; /* ทำให้เต็มหน้าจอด้านตั้ง */
}
.paybut {
   
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px ;
    margin-top: 10px ;
    transition: background-color 0.3s;

}

.paybut:hover {
    background-color: #191b19;
}
